In [15]:
import pandas as pd
import datetime as dt
from datetime import timedelta
import numpy as np

In [16]:
df = pd.read_csv('../data/BOULDER_Electric_Vehicle_Charging_Station_Data.csv')
df.shape

(148136, 17)

In [18]:
df['Address'].unique()

array(['2280 Junction Pl', '1275 Alpine Ave', '900 Baseline Rd',
       '1745 14th street', '1500 Pearl St', '1770 13th St',
       '1360 Gillaspie Dr', '1100 Spruce St', '900 Walnut St',
       '1400 Walnut St', '2052 Junction Pl', '1100 Walnut',
       '7315 Red Deer Dr', '3172 Broadway', '1739 Broadway',
       '2150 13th St', '5660 Sioux Dr', '5565 51st St', '1505 30th St',
       '3335 Airport Rd', '600 Baseline Rd', '5050 Pearl St',
       '2667 Broadway', '2240 Broadway', '5333 Valmont Rd',
       '2520 55th St', '5064 Pearl St'], dtype=object)

In [19]:
df['Address'].nunique()

27

In [20]:
df['Address'].value_counts()

1505 30th St         20987
3172 Broadway        16278
1360 Gillaspie Dr    12349
900 Walnut St        11695
1100 Walnut           9471
1100 Spruce St        9194
1500 Pearl St         9060
5660 Sioux Dr         9056
600 Baseline Rd       8696
5333 Valmont Rd       8579
1770 13th St          6671
900 Baseline Rd       4762
2052 Junction Pl      3706
1400 Walnut St        3546
1745 14th street      2305
1739 Broadway         2165
5565 51st St          2052
3335 Airport Rd       2012
2667 Broadway         1667
2280 Junction Pl      1352
1275 Alpine Ave       1086
7315 Red Deer Dr       503
2520 55th St           394
2240 Broadway          276
5050 Pearl St           94
2150 13th St            90
5064 Pearl St           90
Name: Address, dtype: int64

In [21]:
df.columns

Index(['ObjectId2', 'Station_Name', 'Address', 'City', 'State_Province',
       'Zip_Postal_Code', 'Start_Date___Time', 'Start_Time_Zone',
       'End_Date___Time', 'End_Time_Zone', 'Total_Duration__hh_mm_ss_',
       'Charging_Time__hh_mm_ss_', 'Energy__kWh_', 'GHG_Savings__kg_',
       'Gasoline_Savings__gallons_', 'Port_Type', 'ObjectID'],
      dtype='object')

In [22]:
# Convert 'Charging_Time__hh_mm_ss_' to Timedelta
df['Charging_Time__hh_mm_ss_'] = pd.to_timedelta(df['Charging_Time__hh_mm_ss_'])

# Convert Timedelta to minutes
df['Total_Duration_minutes'] = df['Charging_Time__hh_mm_ss_'].dt.total_seconds() / 60

# Calculate the median and standard deviation of the duration in minutes
median_duration = df['Total_Duration_minutes'].median()
std_duration = df['Total_Duration_minutes'].std()

# Define the threshold for outliers
upper_threshold = median_duration + 3 * std_duration
lower_threshold = median_duration - 3 * std_duration

# Filter out the outliers
filtered_df = df[(df['Total_Duration_minutes'] >= lower_threshold) & (df['Total_Duration_minutes'] <= upper_threshold)]

# Check the percentage of rows removed
percent_removed = (1 - len(filtered_df) / len(df)) * 100
print(f'{percent_removed:.2f}% of outliers were removed.')

2.20% of outliers were removed.

In [26]:
filtered_df

,ObjectId2,Station_Name,Address,City,State_Province,Zip_Postal_Code,Start_Date___Time,Start_Time_Zone,End_Date___Time,End_Time_Zone,Total_Duration__hh_mm_ss_,Charging_Time__hh_mm_ss_,Energy__kWh_,GHG_Savings__kg_,Gasoline_Savings__gallons_,Port_Type,ObjectID,Total_Duration_minutes
0,1,BOULDER / JUNCTION ST1,2280 Junction Pl,Boulder,Colorado,80301,1/1/2018 17:49,MDT,1/1/2018 19:52,MDT,2:03:02,0 days 02:02:44,6.504,2.732,0.816,Level 2,0,122.733333
1,2,BOULDER / JUNCTION ST1,2280 Junction Pl,Boulder,Colorado,80301,1/2/2018 8:52,MDT,1/2/2018 9:16,MDT,0:24:34,0 days 00:24:19,2.481,1.042,0.311,Level 2,1,24.316667
2,3,BOULDER / JUNCTION ST1,2280 Junction Pl,Boulder,Colorado,80301,1/2/2018 21:11,MDT,1/3/2018 6:23,MDT,9:12:21,0 days 03:40:52,15.046,6.319,1.888,Level 2,2,220.866667
3,4,BOULDER / ALPINE ST1,1275 Alpine Ave,Boulder,Colorado,80304,1/3/2018 9:19,MDT,1/3/2018 11:14,MDT,1:54:51,0 days 01:54:29,6.947,2.918,0.872,Level 2,3,114.483333
4,5,BOULDER / BASELINE ST1,900 Baseline Rd,Boulder,Colorado,80302,1/3/2018 14:13,MDT,1/3/2018 14:30,MDT,0:16:58,0 days 00:16:44,1.800,0.756,0.226,Level 2,4,16.733333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148131,148132,BOULDER / N BOULDER REC 1,3172 Broadway,Boulder,Colorado,80304,11/30/2023 19:58,MST,11/30/2023 20:10,MST,0:12:13,0 days 00:11:42,1.194,0.848,0.150,Level 2,77937,11.700000
148132,148133,BOULDER / CARPENTER PARK1,1505 30th St,Boulder,Colorado,80303,11/30/2023 20:00,MST,11/30/2023 20:01,MST,0:01:07,0 days 00:00:00,0.000,0.000,0.000,Level 2,77938,0.000000
148133,148134,BOULDER / CARPENTER PARK1,1505 30th St,Boulder,Colorado,80303,11/30/2023 20:01,MST,11/30/2023 20:21,MST,0:19:52,0 days 00:19:43,1.899,1.349,0.238,Level 2,77939,19.716667
148134,148135,BOULDER / REC CENTER ST2,1360 Gillaspie Dr,Boulder,Colorado,80305,11/30/2023 21:03,MST,11/30/2023 21:31,MST,0:28:08,0 days 00:27:50,1.499,1.064,0.188,Level 2,77940,27.833333
148135,148136,BOULDER / FACILITIES ST1,1745 14th street,Boulder,Colorado,80302,11/30/2023 23:27,MST,12/1/2023 9:02,MST,9:35:17,0 days 03:50:19,17.755,12.606,2.228,Level 2,77941,230.316667

In [27]:
# Convert 'Start_Date___Time' and 'End_Date___Time' to datetime to get the day of the week
filtered_df['Start_Date___Time'] = pd.to_datetime(filtered_df['Start_Date___Time'])
filtered_df['End_Date___Time'] = pd.to_datetime(filtered_df['End_Date___Time'])

# Extract the name of the day
filtered_df['NameOfDay'] =  filtered_df['Start_Date___Time'].dt.day_name()

# Adjust DayOfWeek to start with Sunday=0, Monday=1, ..., Saturday=6
filtered_df['DayOfWeek'] = (filtered_df['Start_Date___Time'].dt.dayofweek + 1) % 7

# Determine if it is a weekend
filtered_df['IsWeekend'] = filtered_df['DayOfWeek'].apply(lambda x: 1 if x in [0, 6] else 0)

C:\Users\User\AppData\Local\Temp\ipykernel_10568\3959102823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Start_Date___Time'] = pd.to_datetime(filtered_df['Start_Date___Time'])
C:\Users\User\AppData\Local\Temp\ipykernel_10568\3959102823.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['End_Date___Time'] = pd.to_datetime(filtered_df['End_Date___Time'])
C:\Users\User\AppData\Local\Temp\ipykernel_10568\3959102823.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['NameOfDay'] =  filtered_df['Start_Date___Time'].dt.day_name()
C:\Users\User\AppData\Local\Temp\ipykernel_10568\3959102823.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['DayOfWeek'] = (filtered_df['Start_Date___Time'].dt.dayofweek + 1) % 7
C:\Users\User\AppData\Local\Temp\ipykernel_10568\3959102823.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['IsWeekend'] = filtered_df['DayOfWeek'].apply(lambda x: 1 if x in [0, 6] else 0)

In [28]:
filtered_df[['Address', 'Start_Date___Time', 'End_Date___Time', 'Energy__kWh_', 'NameOfDay', 'DayOfWeek', 'IsWeekend']].head()

,Address,Start_Date___Time,End_Date___Time,Energy__kWh_,NameOfDay,DayOfWeek,IsWeekend
0,2280 Junction Pl,2018-01-01 17:49:00,2018-01-01 19:52:00,6.504,Monday,1,0
1,2280 Junction Pl,2018-01-02 08:52:00,2018-01-02 09:16:00,2.481,Tuesday,2,0
2,2280 Junction Pl,2018-01-02 21:11:00,2018-01-03 06:23:00,15.046,Tuesday,2,0
3,1275 Alpine Ave,2018-01-03 09:19:00,2018-01-03 11:14:00,6.947,Wednesday,3,0
4,900 Baseline Rd,2018-01-03 14:13:00,2018-01-03 14:30:00,1.800,Wednesday,3,0

In [31]:
# Group by CPID
grouped = filtered_df.groupby('Address')
columns = ['Start_Date___Time', 'End_Date___Time', 'Energy__kWh_', 'NameOfDay', 'DayOfWeek', 'IsWeekend']

# Create a dictionary where keys are CPID and values are DataFrames of each CPID
cpid_dict = {cpid: group.drop(columns='Address') for cpid, group in grouped}

# Assuming cpid_dict is already defined
for idx, (cpid, df) in enumerate(cpid_dict.items(), start=1):
    globals()[f'df_{idx}'] = df[columns]
    #globals()[f'df_{idx}'] = df
    print(len(globals()[f'df_{idx}']))

9171
9412
1006
11945
3295
8783
20617
1959
2195
6583
3604
90
276
1332
349
1562
15881
1918
92
55
8459
2044
8968
8550
441
4758
11537

In [32]:
def process_charging_data(df_transactions):
    # Extract unique dates
    unique_dates = df_transactions[['Start_Date___Time']].drop_duplicates()

    # Function to generate 10-minute intervals for a given date
    def generate_intervals(date):
        start_time = pd.Timestamp(date)
        intervals_start = pd.date_range(start=start_time, periods=144, freq='10T')
        intervals_end = intervals_start + pd.Timedelta(minutes=10)
        return intervals_start, intervals_end

    # Generate the intervals for all unique dates and create the DataFrame
    intervals_list = []

    for idx, row in unique_dates.iterrows():
        date = row['Start_Date___Time']
        intervals_start, intervals_end = generate_intervals(date)
        data_chg = pd.DataFrame({
            'Start_Date___Time': date,
            'IntervalStart': intervals_start,
            'IntervalEnd': intervals_end,
            't': np.arange(1, 145)
        })
        intervals_list.append(data_chg)

    # Concatenate all the individual DataFrames into one
    data_chg = pd.concat(intervals_list).reset_index(drop=True)

    # Add transaction indicator
    def add_transaction_y_indicator(intervals_df, transactions_df):
        y_values = []

        for idx, row in intervals_df.iterrows():
            interval_start = row['IntervalStart']
            interval_end = row['IntervalEnd']
            
            # Check if any transaction falls within the interval
            transaction_exists = transactions_df[
                (transactions_df['Start_Date___Time'] < interval_end) & 
                (transactions_df['End_Date___Time'] > interval_start)
            ].shape[0] > 0
            
            y_values.append(1 if transaction_exists else 0)
        
        intervals_df['y'] = y_values
        return intervals_df
    
    def past_chg_occ_state(data_chg, df_transactions):
        data_chg = add_transaction_y_indicator(data_chg, df_transactions)
    
        # Add the y_t_1 column
        data_chg['y_t_1'] = data_chg['y'].shift(1).astype('Int64')

        return data_chg

    def add_weekdays_and_weekends(data_chg, df_transactions):
        data_chg = past_chg_occ_state(data_chg, df_transactions)

        # Convert 'Start_Date___Time' and 'EndDate' to datetime to get the day of the week
        data_chg['Start_Date___Time'] = pd.to_datetime(data_chg['Start_Date___Time'])
        # Extract the name of the day
        data_chg['NameOfDay'] =  data_chg['Start_Date___Time'].dt.day_name()
        # Adjust DayOfWeek to start with Sunday=0, Monday=1, ..., Saturday=6
        data_chg['dayofweek'] = (data_chg['Start_Date___Time'].dt.dayofweek + 1) % 7
        # Determine if it is a weekend
        data_chg['weekend'] = data_chg['dayofweek'].apply(lambda x: 1 if x in [0, 6] else 0)

        return data_chg

    data_chg = add_weekdays_and_weekends(data_chg, df_transactions).dropna()[:-144]

    print(len(data_chg) + 1)
    return data_chg

In [33]:
process_charging_data(df_1)

738432

,Start_Date___Time,IntervalStart,IntervalEnd,t,y,y_t_1,NameOfDay,dayofweek,weekend
1,2018-01-25 10:14:00,2018-01-25 10:24:00,2018-01-25 10:34:00,2,0,1,Thursday,4,0
2,2018-01-25 10:14:00,2018-01-25 10:34:00,2018-01-25 10:44:00,3,0,0,Thursday,4,0
3,2018-01-25 10:14:00,2018-01-25 10:44:00,2018-01-25 10:54:00,4,0,0,Thursday,4,0
4,2018-01-25 10:14:00,2018-01-25 10:54:00,2018-01-25 11:04:00,5,0,0,Thursday,4,0
5,2018-01-25 10:14:00,2018-01-25 11:04:00,2018-01-25 11:14:00,6,0,0,Thursday,4,0
...,...,...,...,...,...,...,...,...,...
738427,2023-11-30 11:19:00,2023-12-01 10:29:00,2023-12-01 10:39:00,140,0,0,Thursday,4,0
738428,2023-11-30 11:19:00,2023-12-01 10:39:00,2023-12-01 10:49:00,141,0,0,Thursday,4,0
738429,2023-11-30 11:19:00,2023-12-01 10:49:00,2023-12-01 10:59:00,142,0,0,Thursday,4,0
738430,2023-11-30 11:19:00,2023-12-01 10:59:00,2023-12-01 11:09:00,143,0,0,Thursday,4,0
738431,2023-11-30 11:19:00,2023-12-01 11:09:00,2023-12-01 11:19:00,144,0,0,Thursday,4,0